*{
    background-color: #1B1B1B;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    width: 25%;
    background-color: #C3A05E;
    border-radius: 10px;
    color: 1B1B1B;
    border: 1px solid #7B838C;
    font-size: 20px;
    padding: 10px;

}
.image{
    width: 250px;
    height: 200px;
}
.images{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}
.courseList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}