*{
    margin: 10px;
    background-color: #E6E6E6;
}
.Search{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}
.Search form{
    display: flex;
    flex-direction: column;
}
.ImageList{
    columns: 250px 5;
    column-gap: 10px;
}
.ImageListImg{
    width: 100%;
}